@inherits AccountStatusTableRecordBase
<tr>
    <td>@Status.Id</td>
    <td>@Status.Name</td>
    <td>@Status.Description</td>

    <td>
        <button type="button" data-bs-toggle="modal" data-bs-target="#editStatus-@Status.Id" style="border:none;background:none">
            <i class="bi bi-gear-fill"></i>
        </button>
        <MudIconButton Icon="@Icons.Filled.Edit" Color="Color.Warning" OnClick="@((e) =>OpenEditDialogAsync())"></MudIconButton>
        <MudIconButton Icon="@Icons.Filled.Delete" Color="Color.Error" OnClick="@((e) =>OpenDeleteDialogAsync())"></MudIconButton>
    </td>
</tr>