@page "/admin/roles"

@using ClientUI.Services.Roles
@using Syncfusion.Blazor.Grids

<MudText Typo="Typo.h4" Class="mb-4">
    <b>Roles</b>
</MudText>

<MudGrid Class="pb-6">
    @if(roles is null)
     {
         <!--If the products where not loaded yet, display some skeletons-->
        <MudItem xs="12" sm="6" md="4">
            <MudPaper  Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudSkeleton SkeletonType="@SkeletonType.Rectangle" Class="mx-4" Width="54px" Height="54px"/>
                <div>
                    <MudSkeleton Width="200px"/>
                    <MudSkeleton Width="40px"/>
                </div>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudPaper  Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudSkeleton SkeletonType="@SkeletonType.Rectangle" Class="mx-4" Width="54px" Height="54px"/>
                <div>
                    <MudSkeleton Width="200px"/>
                    <MudSkeleton Width="40px"/>
                </div>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudPaper  Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudSkeleton SkeletonType="@SkeletonType.Rectangle" Class="mx-4" Width="54px" Height="54px"/>
                <div>
                    <MudSkeleton Width="200px"/>
                    <MudSkeleton Width="40px"/>
                </div>
            </MudPaper>
        </MudItem>
    }
    else
    {
        <MudItem xs="12" sm="6" md="4">
            <MudPaper  Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Filled.Attribution" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Roles</MudText>
                    <MudText Typo="Typo.h5">@(roles.Count())</MudText>
                </div>
            </MudPaper>
        
        </MudItem>
    }
</MudGrid>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@roles" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })" AllowPaging="true" AllowSorting="true" TValue="RoleDTO">
                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>
                 <GridEvents OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler" TValue="RoleDTO"></GridEvents>
                <GridColumns>
                    <GridColumn Field=@nameof(RoleDTO.Id) HeaderText="Id"></GridColumn>
                    <GridColumn Field=@nameof(RoleDTO.Name) HeaderText="Name"></GridColumn>
                    <GridColumn Field=@nameof(RoleDTO.Description) HeaderText="Description"></GridColumn>
                  </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code {
    [Inject] public NavigationManager NavManager { get; set; }

    [Inject] public IRolesService RolesService { get; set; }

    private IEnumerable<RoleDTO> roles;
    protected override async Task OnInitializedAsync()
    {
        await LoadRoles();
    }

    private async Task LoadRoles()
    {
        roles = await RolesService.GetAllAsync();
    }

    public async Task ActionCompleteHandler(ActionEventArgs<RoleDTO> Args)
    {
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            await LoadRoles();
        }
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            await LoadRoles();
        }
    }

    public async void ActionBeginHandler(ActionEventArgs<RoleDTO> Args)
    {
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (Args.Action == "Add")
            {
                // adding new record
                await RolesService.Add(Args.RowData);
            }
            else
            {
                // updating
                var result = await RolesService.Edit(Args.RowData.Id, Args.Data); 
            }
        }
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            //TODO: delete
            await RolesService.Delete(Args.RowData.Id);
        }
    }
}
