@page "/ride/complete-request/{Id}"

@inherits AvailableRideDriversBase

<link rel="stylesheet" href="/css/Available-Ride-Drivers.css"/>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-12">
            <MudPaper>
                <MudContainer>
                    <MudTimeline Class="mb-2">
                        <MudTimelineItem Color="Color.Success">
                            <MudText Typo="Typo.h6">Pick-up Location</MudText>
                            @*<MudText Typo="Typo.body2">@Ride.PickUpLocation</MudText>*@
                            <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">@Ride.PickUpTime</MudText>
                        </MudTimelineItem>
                        <MudTimelineItem Color="Color.Primary">
                            <MudText Typo="Typo.h6">Destination</MudText>
                            @*<MudText Typo="Typo.body2">@Ride.Destination</MudText>*@
                        </MudTimelineItem>
                    </MudTimeline>

                    <MudText Typo="Typo.h5" Class="mt-5"> Your Contact Details</MudText>
                    <MudDivider />
                    <EditForm Model="Ride" OnSubmit="HandleSubmitAsync">
                        @if (Ride.User is null)
                        {
                            <MudProgressCircular Color="Color.Default" Indeterminate="true" Class="mt-1 mb-1" /> <br />
                            <MudButton type="submit" OnClick="HandleSubmitAsync" Color="Color.Primary" Variant="Variant.Filled" Class="mb-3 mt-3" Disabled="true">Save</MudButton>
                        }
                        else
                        {
                            <MudTextField @bind-Value="Ride.User.PhoneNumber" Label="Phone Number" Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.Phone" />
                            <MudButton type="submit" OnClick="HandleSubmitAsync" Color="Color.Primary" Variant="Variant.Filled" Class="mb-3 mt-3">Save</MudButton>
                        }
                    </EditForm>

                </MudContainer>
            </MudPaper>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12">
            <MudPaper>
                <div id="map" class="map-size"></div>
            </MudPaper>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-12">
            <MudCard id="available-drivers" Style="@($"background-color:{Colors.Grey.Lighten2};")" Hidden="@hideDriverList">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">Available Drivers</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudPaper MinWidth="inherit" Class="mb-4" Elevation="0">
                        <MudGrid>
                            <MudItem xs="12" md="2" lg="2">
                                <MudPaper Width="inherit" Class="sugested-paper ml-lg-3 ml-md-3 mud-theme-info" Style="position: relative;">
                                    <MudElement Class="center-content-vh">
                                        <MudIcon Icon="far fa-thumbs-up" Size="Size.Large" Color="Color.Default" Class="ml-3"></MudIcon>
                                        <MudText Typo="Typo.h6">Sugested</MudText>
                                    </MudElement>

                                </MudPaper>
                            </MudItem>
                            <MudItem xs="12" md="10" lg="10">
                                <MudPaper Class="mt-lg-3 mt-md-3 mr-lg-3 mr-md-2 mb-3">
                                    <MudContainer>
                                        <MudGrid>
                                            <MudItem lg="6" md="6" sm="12">
                                                <MudGrid>
                                                    <MudItem lg="12" md="12" sm="12" xs="12">
                                                        <MudText Typo="Typo.h6">Contact Info</MudText>
                                                        <MudDivider />
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="fas fa-ghost" Size="Size.Small"></MudIcon>
                                                            <b> Username:</b>
                                                            BadLobster777
                                                        </MudText>
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="@Icons.Filled.Person"></MudIcon>
                                                            <b> Name: </b>
                                                            Cojocaru Ion
                                                        </MudText>
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="@Icons.Filled.Phone"></MudIcon>
                                                            <b>Phone:</b>
                                                            077777777
                                                        </MudText>
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="@Icons.Filled.Email"></MudIcon>
                                                            <b>Email:</b>
                                                            gigel@gmail.com
                                                        </MudText>
                                                    </MudItem>
                                                </MudGrid>
                                            </MudItem>
                                            <MudItem lg="6" md="6" sm="12">
                                                <MudGrid>
                                                    <MudItem lg="12" md="12" sm="12" xs="12">
                                                        <MudText Typo="Typo.h6">Details</MudText>
                                                        <MudDivider />
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="fas fa-car" Size="Size.Small"></MudIcon>
                                                            <b>Car:</b>
                                                            iCar Pro Max
                                                        </MudText>
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="@Icons.Filled.Money"></MudIcon>
                                                            <b>Price:</b>
                                                            ~$12
                                                        </MudText>
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="@Icons.Filled.Map"></MudIcon>
                                                            <b>Distance:</b>
                                                            ~7 Km away
                                                        </MudText>
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="@Icons.Filled.RateReview"></MudIcon>
                                                            <b>Rating:</b>
                                                            <MudRating Disabled="true" SelectedValue="4" Size="Size.Small" />(210)
                                                        </MudText>
                                                    </MudItem>
                                                </MudGrid>
                                            </MudItem>
                                            <MudItem lg="12" md="12" sm="12" xs="12">
                                                <MudDivider Class="mb-2" />
                                                <MudButton Variant="Variant.Filled" Color="Color.Primary">
                                                    Choose driver
                                                </MudButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudContainer>
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>

                    <MudPaper MinWidth="inherit" Class="mb-4" Elevation="0">
                        <MudGrid>
                            <MudItem xs="12" md="2" lg="2">
                                <MudPaper Width="inherit" Class="sugested-paper ml-lg-3 ml-md-3 mud-theme-info" Style="position: relative;">
                                    <MudElement Class="center-content-vh">
                                        <MudIcon Icon="far fa-thumbs-up" Size="Size.Large" Color="Color.Default" Class="ml-3"></MudIcon>
                                        <MudText Typo="Typo.h6">Sugested</MudText>
                                    </MudElement>

                                </MudPaper>
                            </MudItem>
                            <MudItem xs="12" md="10" lg="10">
                                <MudPaper Class="mt-lg-3 mt-md-3 mr-lg-3 mr-md-2 mb-3">
                                    <MudContainer>
                                        <MudGrid>
                                            <MudItem lg="6" md="6" sm="12">
                                                <MudGrid>
                                                    <MudItem lg="12" md="12" sm="12" xs="12">
                                                        <MudText Typo="Typo.h6">Contact Info</MudText>
                                                        <MudDivider />
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="fas fa-ghost" Size="Size.Small"></MudIcon>
                                                            <b> Username:</b>
                                                            BadLobster777
                                                        </MudText>
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="@Icons.Filled.Person"></MudIcon>
                                                            <b> Name: </b>
                                                            Cojocaru Ion
                                                        </MudText>
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="@Icons.Filled.Phone"></MudIcon>
                                                            <b>Phone:</b>
                                                            077777777
                                                        </MudText>
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="@Icons.Filled.Email"></MudIcon>
                                                            <b>Email:</b>
                                                            gigel@gmail.com
                                                        </MudText>
                                                    </MudItem>
                                                </MudGrid>
                                            </MudItem>
                                            <MudItem lg="6" md="6" sm="12">
                                                <MudGrid>
                                                    <MudItem lg="12" md="12" sm="12" xs="12">
                                                        <MudText Typo="Typo.h6">Details</MudText>
                                                        <MudDivider />
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="fas fa-car" Size="Size.Small"></MudIcon>
                                                            <b>Car:</b>
                                                            iCar Pro Max
                                                        </MudText>
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="@Icons.Filled.Money"></MudIcon>
                                                            <b>Price:</b>
                                                            ~$12
                                                        </MudText>
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="@Icons.Filled.Map"></MudIcon>
                                                            <b>Distance:</b>
                                                            ~7 Km away
                                                        </MudText>
                                                    </MudItem>
                                                    <MudItem lg="6" md="12" sm="12" xs="12">
                                                        <MudText>
                                                            <MudIcon Icon="@Icons.Filled.RateReview"></MudIcon>
                                                            <b>Rating:</b>
                                                            <MudRating Disabled="true" SelectedValue="4" Size="Size.Small" />(210)
                                                        </MudText>
                                                    </MudItem>
                                                </MudGrid>
                                            </MudItem>
                                            <MudItem lg="12" md="12" sm="12" xs="12">
                                                <MudDivider Class="mb-2" />
                                                <MudButton Variant="Variant.Filled" Color="Color.Primary">
                                                    Choose driver
                                                </MudButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudContainer>
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>

                    <br />
                    <MudPagination Variant="Variant.Filled" Count="4" Class="mt-5 d-flex justify-end" />
                </MudCardContent>
            </MudCard>
        </div>
    </div>
</div>
