@page "/driverdetails/{id}"
@inherits DriverDetailsBase

@if (Driver == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card borderless">
                    @if (Driver.ImageCv != null)
                    {
                        <img alt="Licence photo" value="@Driver.ImageCv" />
                    }
                    else
                    {
                        <img alt="License photo" src="/images/icons/no_driver_license.jpg" style="width: 70%; height: 100%;" />
                    }
                    <div class="card-body">
                        <span class="largeFont colorWeight" style="margin-top: 10%;">
                            Deserved clients:
                        </span>
                        <span class="largeFont">@Driver.DeservedClients</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-sm-6">
                <div class="card borderless">
                    <div class="container-fluid">
                        <div class="row mt-2">
                            <h4>
                                @Driver.UserName
                            </h4>
                        </div>
                        @*<div class="row mt-1">
                            <h5 style="color:deepskyblue">
                                @Driver.Experience years of Experience
                            </h5>
                        </div>*@
                        <div class="row mt-3">
                            <h6 style=" font-size: 12px; color: #818182;">
                                RATING: @Driver.Rating/5
                            </h6>
                        </div>
                        <div class="row mt-5">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true">About</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="car-tab" data-bs-toggle="tab" data-bs-target="#car" type="button" role="tab" aria-controls="car" aria-selected="false">Car</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <DriverDetailsAboutTab Driver="@Driver"></DriverDetailsAboutTab>
                                <DriverDetailsCarTab Car="@Driver.Car"></DriverDetailsCarTab>
                                <DriverDetailsContactTab Email="@Driver.Email" Phone="@Driver.PhoneNumber"></DriverDetailsContactTab>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}