@page "/"

@inherits HomeBase

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudGrid>
        <MudItem lg="5" md="5" xs="12" sm="12">
            <div>
                <MudTabs Elevation="2" Rounded="true" Centered="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                    <MudTabPanel Text="Ride" Icon="@Icons.Filled.CarRental">
                        <MudText Typo="Typo.h4">Request a ride</MudText>
                        <br />

                        <div class="container">
                            <EditForm Model="Ride" OnValidSubmit="HandleSubmit">
                                <InputText id="pickUpCoordinates" @bind-Value="Ride.PickUpCoordinates" hidden />
                                <InputText id="destinationCoordinates" @bind-Value="Ride.DestinationCoordinates" hidden />

                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <MudTextField id="pickUpLocation" Placeholder="" Value="Ride.PickUpLocation" Label="Pick-up location"
                                                      Variant="Variant.Text" Adornment="Adornment.End" AdornmentIcon="@PickUpInputIcon" OnAdornmentClick="FindMyLocationAsync"
                                                      ValueChanged="@((string v) => OnPickUpInputChangeAsync(v))" @onfocus="AutoCompletePickUp" />
                                    </div>
                                </div>

                                <div class="row mb-5">
                                    <div class="col-md-12">
                                        <MudTextField id="destination" Placeholder="" Value="Ride.Destination" Label="Destination"
                                                      Variant="Variant.Text" Adornment="Adornment.End" AdornmentIcon="@DestinationInputIcon"
                                                      OnAdornmentClick="@(e => ClearInput("Destination"))" ValueChanged="@((string v) => OnDestinationInputChange(v))"
                                                      @onfocus="AutoCompleteDestination" />
                                    </div>
                                </div>

                                <div class="row mt-5">
                                    <div class="col-md-5 col-5">
                                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">
                                            @if (currentState == TaskStates.Started.ToString())
                                            {
                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            }

                                            Request Now
                                        </MudButton>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <MudButton Variant="Variant.Filled" Color="Color.Transparent">Shedule for later</MudButton>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    </MudTabPanel>
                    <MudTabPanel Text="Drive" Icon="fas fa-coins">
                        <MudText Typo="Typo.h4">You like to drive and you don't have a job?</MudText>
                        <br />
                        <MudText Typo="Typo.h6">Join our platform and get paid.</MudText>
                        <br />
                        <AuthorizeView>
                            <Authorized>
                                <MudButton StartIcon="fas fa-car" Variant="Variant.Filled" Color="Color.Primary" Link="/driver-request">Send Request</MudButton>
                            </Authorized>
                            <NotAuthorized>
                                <MudButton StartIcon="fas fa-car" Variant="Variant.Filled" Color="Color.Primary" Disabled="true">Send Request</MudButton>
                                <MudText Typo="Typo.caption">
                                    Please  <MudLink Href="/register" Typo="Typo.inherit">sign up</MudLink> or <MudLink Href="/login" Typo="Typo.inherit">login</MudLink> first.
                                </MudText>
                            </NotAuthorized>
                        </AuthorizeView>
                        <br /><br />
                        <MudLink Href="#"> Learn more about driving. </MudLink>
                    </MudTabPanel>
                </MudTabs>
            </div>
        </MudItem>
        <MudItem lg="7" md="7" xs="12" sm="12">
                <MudCard>
                    <MudCardContent>
                        <div id="map" style="height:500px;width:100%;">
                        </div>
                    </MudCardContent>
                </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>