@using Services;

@inject ISnackbar Snackbar

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.PlusOne" Class="mr-3 mb-n1" />
            New Car
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer MaxWidth="MaxWidth.Large">
            <EditForm Model="@Car" OnValidSubmit="AddCar">
                <div class="row">
                    <MudTextField Label="Brand" Class="mt-3"
                                  @bind-Value="Car.Brand" For="@(() => Car.Brand)" />
                </div>
                <div class="row">
                    <MudTextField Label="Model" Class="mt-3"
                                  @bind-Value="Car.Model" For="@(() => Car.Model)" />
                </div>
                <div class="row">
                    <MudSelect T="string" Label="Fuel Type" Class="mt-3" @bind-Value="Car.FuelType">
                        <MudSelectItem Value="@("Petrol")" />
                        <MudSelectItem Value="@("Electric")" />
                        <MudSelectItem Value="@("Hybrid")" />
                    </MudSelect>
                </div>
                <br />

                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">
                    @if (currentState == taskStates.Started.ToString())
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    }

                    Add
                </MudButton>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions></DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Inject] public ICarService CarService { get; set; }

    public Car Car { get; set; } = new();

    private enum taskStates { Started, Ended };
    private string currentState = "";
    private bool expand = false;

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    protected async Task AddCar()
    {
        currentState = taskStates.Started.ToString();
        var state = await CarService.AddNewCar(Car);
        currentState = taskStates.Ended.ToString();

        if (state is true)
        {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomCenter;
            Snackbar.Add("Car added successfully.", Severity.Success);

            MudDialog.Close(DialogResult.Ok(true));
        }
        else
        {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomCenter;
            Snackbar.Add("Something went wrong. Couldn't add the car.", Severity.Success);
        }
    }
}