@inherits RolesTableRecordBase
<tr>
    <td>@Role.Id</td>
    <td>@Role.Name</td>
    <td>@Role.Description</td>

    <td>
        <MudIconButton Icon="@Icons.Filled.Edit" Color="Color.Warning" OnClick="@((e) =>OpenEditDialogAsync())"></MudIconButton>
        <MudIconButton Icon="@Icons.Filled.Delete" Color="Color.Error" OnClick="@((e) =>OpenDeleteDialogAsync())"></MudIconButton>
    </td>
</tr>