@using IntelligentCarManagement.Models
<tr>
    <td>@User.Id</td>
    <td><a href="#"><i class="bi bi-person-fill"></i> @User.FirstName @User.LastName</a></td>
    <td>@User.RegistrationDate</td>
    <td>
        @foreach (var userRole in User.UserRoles)
        {
            @userRole.Role.Name
        }
    </td>
    @switch (User.AccountStatus.Status)
    {
        case "PENDING-ACTIVATION":
            <td><span class="status text-warning">&bull;</span> @User.AccountStatus.Status</td>
            break;
        case "BANNED":
            <td><span class="status text-dark">&bull;</span> @User.AccountStatus.Status</td>
            break;
        case "ACTIVE":
            <td><span class="status text-success">&bull;</span> @User.AccountStatus.Status</td>
            break;
        case "DELETED":
            <td><span class="status text-info">&bull;</span> @User.AccountStatus.Status</td>
            break;
        default:
            <td><span class="status text-black">&bull;</span> @User.AccountStatus.Status</td>
            break;
    }
    <td>
        <a href=""><i class="bi bi-gear-fill"></i></a>
        <a href=""><i class="bi bi-archive-fill text-danger"></i></a>
    </td>
</tr>
@code {
    [Parameter]
    public User User { get; set; }
}
