@inherits UsersTableRecordBase

<tr>
    <td>@User.Id</td>
    <td><a href="#"><i class="bi bi-person-fill"></i> @User.FirstName @User.LastName</a></td>
    <td>@User.RegistrationDate</td>
    <td>
        @foreach (var userRole in User.UserRoles)
        {
            @userRole.Role.Name
        }
    </td>
    @switch (User.AccountStatus.Name)
    {
        case "PENDING-ACTIVATION":
            <td><span class="status text-warning">&bull;</span> @User.AccountStatus.Name</td>
            break;
        case "BANNED":
            <td><span class="status text-dark">&bull;</span> @User.AccountStatus.Name</td>
            break;
        case "ACTIVE":
            <td><span class="status text-success">&bull;</span> @User.AccountStatus.Name</td>
            break;
        case "DELETED":
            <td><span class="status text-info">&bull;</span> @User.AccountStatus.Name</td>
            break;
        default:
            <td><span class="status text-black">&bull;</span> @User.AccountStatus.Name</td>
            break;
    }
    <td>
        <a href="user/settings/@User.Id"><i class="bi bi-gear-fill"></i></a>
        <MudIconButton Icon="@Icons.Filled.Delete" Color="Color.Error" OnClick="@((e) =>OpenDeleteDialogAsync())"></MudIconButton>
    </td>
</tr>
