@inherits CarsTableRecordBase

<tr>
    <td>@Car.Id</td>
    <td>@Car.Brand @Car.Model</td>
    <td>@Car.CurrentLocation</td>
    <td>
        @if (Car.IsAvailable)
        {
            <span class="status text-success">&bull;</span> <text>Available</text>
        }
        else
        {
            <span class="status text-danger">&bull;</span> <text>Not Available</text>
        }
    </td>
    <td>
        @if (Car.Driver is not null)
        {
            <a href="#"><i class="bi bi-person-fill"></i>@Car.Driver.UserName</a>
        }
        else
        {
            <span>Not Assigned</span>
        }
    </td>
    <td>
        <MudIconButton Icon="@Icons.Filled.Edit" Color="Color.Warning" OnClick="@((e) =>OpenEditDialogAsync())"></MudIconButton>
        <MudIconButton Icon="@Icons.Filled.Delete" Color="Color.Error" OnClick="@((e) =>OpenDeleteDialogAsync())"></MudIconButton>
    </td>
</tr>